<!DOCTYPE html>
<html>
  <head>
    <title>长大校园助手</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{include file='center/head' /}
<style>
  
  .demos-header {
    padding: 15px 0;
    background-color: black;
}
 .headimgurl{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
 }
 .demos-title {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin: 0 15%;
    margin-top: 10px;
}
</style>
  </head>

  <body ontouchstart>

    <header class='demos-header'>
          <img src="{$userinfo.headimgurl}" class="headimgurl"  alt="">
          <h3 class="demos-title">{$user.realname}</h3>
          <p class="demos-sub-title">{$user.class}</p>

    </header>

    <div class="weui-grids">
      <a href="{:url('bxq_score')}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/报告查询.png" alt="">
        </div>
        <p class="weui-grid__label">
          本学期成绩
        </p>
      </a>
      <a href="{:url('all_score')}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/成绩.png" alt="">
        </div>
        <p class="weui-grid__label">
          全部成绩
        </p>
      </a>
      <a href="#" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/绩点.png" alt="">
        </div>
        <p class="weui-grid__label">
          绩点
        </p>
      </a>
      <a href="#" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/报告查询.png" alt="">
        </div>
        <p class="weui-grid__label">
          选修查询
        </p>
      </a>
      <a href="{:url('photo')}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/登记照.png" alt="">
        </div>
        <p class="weui-grid__label">
          查看登记照
        </p>
      </a>
      <a href="{:url('cet/bind')}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/四六级.png" alt="">
        </div>
        <p class="weui-grid__label">
          四六级查询
        </p>
      </a>
      <a href="{:url('love/index')}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/消息.png" alt="">
        </div>
        <p class="weui-grid__label">
          表白墙
        </p>
      </a>
      <a href="https://mp.weixin.qq.com/s?__biz=MzI1ODk2MzI3Nw==&mid=100000008&idx=1&sn=25668dec6643e1e4fa358b8b1fdfaed0&chksm=6a01632a5d76ea3c66230f00590c1289cbd8d9d227986778db4696bebea7283dafcee6ef8bad" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/校历.png" alt="">
        </div>
        <p class="weui-grid__label">
          校历
        </p>
      </a>
      <a href="#" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="/public/center/icon/我的.png" alt="">
        </div>
        <p class="weui-grid__label">
          个人中心
        </p>
      </a>
    </div>

   {include file='center/foot' /}
  </body>

</html>
